<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Password Reset Sent</h3>
    <p>
      We've emailed you instructions for setting your password,if an account
      exists with the email.
    </p>
    <p>
      If no email is sent,recheck your email address to make sure you have that
      the email is correctly spelt or check spam folder
    </p>
  </body>
</html>
