.header-dashboard {
    padding: 2em;
  
    width: calc(inherit - 15.625rem);
    background-color: white;
  
    display: grid;
    grid-template-columns: 10% 40% 1fr;
    grid-template-areas: 'title space profile';
    justify-items: start;
    gap: 0;
  }
  
  .header-title {
    grid-area: title;
  
    font-size: 1.75rem;
    margin-left: -1.75rem;
    
  }
  
  .header-search-profile {
    grid-area: profile;
    display: flex;
    margin-left: auto;
  
    align-items: center;
  
    justify-content: space-around;
  }
  
  .search {
    position: relative;
    margin-right: 1rem;
  }
  
  .search input {
    padding: 0.5rem 1rem;
    outline: 2px solid rgba(193, 199, 214, 0.35);
    border-radius: 1.4rem;
    font-size: 0.75rem;
  }
  
  .searchbar {
    position: absolute;
    right: 5%;
    margin-top: 0.3em;
    font-size: 1.25rem;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile-icon {
    /* color: #27c9a9; */
  
    font-size: 2rem;
    margin-right: 0.25em;
  }
  