/* VolumeAccordion.css */
.articleList {
    list-style: none;
    padding: 0;
  }
  
  .articleItem {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .articleTitle {
    font-size: 1.3rem;
    font-weight: bold;
    font-style: normal;
    font-family: sans-serif;
    margin: 0;
    color: #3e6187;
  }
  
  .articleAuthors {
    color: rgb(52, 47, 47);
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
  }
  .articleType{
    color: red;
    font-family: sans-serif;
    
    margin: 0;
  }
  .articleDate {
    color: #888;
    font-size: 0.9em;
    font-family: sans-serif;
    margin: 0;
  }
  .articleVolume{
    margin: 0;
    color: #555;
    font-family: sans-serif;
  }
  .articleKeywords{
    color: #555;
    margin: 0;
    font-family: sans-serif;
    font-style: italic;
  }
  